<app-header></app-header>

<section class="serarch-container mb-3">
  <div class="overlay"></div>
  <div class="container position-relative">
    <div class="row">
      <div class="col-md-12 text-white">
        <h1>Search for {{title}}</h1>
        <p>Home for World Class Professionals</p>
      </div>
      <div class="col-md-12">
        <div class="filters-box bg-white rounded-15 shadow p-5">
          <div class="row">
            <div class="col-md-4 mb-3">
              <label class="form-label">Search By Type</label>
              <select class="form-control" (change)="search($event)" *ngIf="type==='search'">
                <option disabled selected>Select</option>
                <option value="everything">Everything</option>
                <option value="teachers">Teacher</option>
                <option value="freelancers">Freelancer</option>
                <option value="enterprises">Enterprises</option>
                <option value="courses">Course</option>
                <option value="catalogs">Catalog</option>
              </select>
              <select class="form-control" *ngIf="type==='teachers'">
                <option value="teachers" selected>Teacher</option>
              </select>
              <select class="form-control" *ngIf="type==='enterprises'">
                <option value="enterprises" selected>Enterprises</option>
              </select>
              <select class="form-control" *ngIf="type==='freelancers'">
                <option value="freelancers" selected>Freelancer</option>
              </select>
              <select class="form-control" *ngIf="type==='courses'">
                <option value="courses" selected>Course</option>
              </select>
              <select class="form-control" *ngIf="type==='catalogs'">
                <option value="catalogs" selected>Catalog</option>
              </select>
            </div>

            <!-- <div class="col-md-4 mb-3">
              <label class="form-label">Search By City</label>
              <select class="form-control">
                <option value="">Select</option>
                <option value="">City 1</option>
                <option value="">City 2</option>
                <option value="">City 3</option>
                <option value="">City 4</option>
                <option value="">City 5</option>
              </select>
            </div> -->
            <!-- <div class="col-md-4 mb-3">
              <label class="form-label">Search By Category</label>
              <select class="form-control">
                <option value="">Select</option>
                <option value="">Cat-1</option>
                <option value="">Cat-2</option>
                <option value="">Cat-3</option>
                <option value="">Cat-4</option>
              </select>
            </div> -->

            <div class="col-md-4 mb-3 m-md-0">
              <label class="form-label">Search Query</label>
              <input type="text" class="form-control" placeholder="Enter Your Query" (keyup)="onkey($event)"
                [(ngModel)]="searchquery">
            </div>

            <ng-container *ngIf="morefilters">
              <div class="col-md-4 mb-3 m-md-0">
                <label class="form-label" for="price-range">Price Range</label>
                <div class="d-flex">
                  <div class="fw-bold flex-grow-1">5 $</div>
                  <div class="fw-bold">5000 $</div>
                </div>
                <input type="range" class="form-range" #pricerange (change)="priceslider($event)">
              </div>
            </ng-container>
          </div>
          <button (click)="toggleMoreFilters()" class="btn btn-pink">{{(morefilters) ? 'Hide More' : 'Show More'}} <i
              [ngClass]="(morefilters)? 'fa-chevron-up' : 'fa-chevron-down'" class="fas "></i></button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row" *ngIf="type==='search'">
    <div class="col-md-3 mb-3" *ngFor="let user of searchData">
      <div class="card" *ngIf="result===true">
        <img src="../../../../assets/cards.jpg" class="card-img-top img-fluid" alt="Image Title">
        <div class="card-body">
          <div class="d-flex">
            <div class="flex-grow-1">
              <h5 class="card-title">{{user.name}}</h5>
            </div>
            <div class="fw-normal">4.9 <i class="fas text-warning fa-star"></i></div>
          </div>
          <p class="mb-2 fw-light">Specialization</p>
          <p class="card-text">Lorem ipsum dolor sit amet, elit amet consectetur adipiscing elit.</p>
          <a href="#" class="btn btn-pink rounded-pill">Profile <i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="search-results py-5">
  <div class="container">

    <!-- TEACHERS -->
    <div class="row" *ngIf="type==='teachers'">
      <div class="col-md-3 mb-3" *ngFor="let user of userData;">
        <div class="card" *ngIf="result === false">
          <img src="../../../../assets/cards.jpg" class="card-img-top img-fluid" alt="Image Title">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h5 class="card-title">{{user.name}}</h5>
              </div>
              <div class="fw-normal">4.9 <i class="fas text-warning fa-star"></i></div>
            </div>
            <p class="mb-2 fw-light">Specialization</p>
            <p class="card-text">Lorem ipsum dolor sit amet, elit amet consectetur adipiscing elit.</p>
            <a href="#" class="btn btn-pink rounded-pill">Profile <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="type==='teachers'">
      <div class="col-md-3 mb-3" *ngFor="let user of userData">
        <div class="card" *ngIf="result===true">
          <img src="../../../../assets/cards.jpg" class="card-img-top img-fluid" alt="Image Title">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h5 class="card-title">{{user.name}}</h5>
              </div>
              <div class="fw-normal">4.9 <i class="fas text-warning fa-star"></i></div>
            </div>
            <p class="mb-2 fw-light">Specialization</p>
            <p class="card-text">Lorem ipsum dolor sit amet, elit amet consectetur adipiscing elit.</p>
            <a href="#" class="btn btn-pink rounded-pill">Profile <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- ENTERPRISES -->
    <div class="row" *ngIf="type==='enterprises'">
      <div class="col-md-3 mb-3" *ngFor="let course of counter(8);">
        <div class="card">
          <img src="../../../../assets/cards.jpg" class="card-img-top img-fluid" alt="Image Title">
          <div class="card-body">
            <h5 class="card-title">Enterprises Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, elit amet consectetur adipiscing elit.</p>
            <a href="#" class="btn btn-pink rounded-pill">Profile <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- FREELANCERS -->
    <div class="row" *ngIf="type==='freelancers'">
      <div class="col-md-3 mb-3" *ngFor="let course of counter(8);">
        <div class="card">
          <img src="../../../../assets/cards.jpg" class="card-img-top img-fluid" alt="Image Title">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h5 class="card-title">Freelancer Name</h5>
              </div>
              <div class="fw-normal">4.9 <i class="fas text-warning fa-star"></i></div>
            </div>
            <p class="fw-light mb-2">Service</p>
            <p class="card-text">Lorem ipsum dolor sit amet, elit amet consectetur adipiscing elit.</p>
            <a href="#" class="btn btn-pink rounded-pill">Profile <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>

    </div>

    <!-- COURSES -->
    <div class="row" *ngIf="type==='courses'">
      <div class="col-md-3 mb-3" *ngFor="let course of courseData;">
        <div class="card" *ngIf="result === false">
          <img src="../../../../assets/cards.jpg" class="card-img-top img-fluid" alt="Image Title">
          <div class="card-body">
            <h5 class="card-title">{{course.coursename}}</h5>
            <hr class="my-2">
            <div class="d-flex fs-6 align-items-center">
              <div class="flex-grow-1">Price</div>
              <div class="fw-bold fs-6">{{course.price}} $</div>
            </div>
            <hr class="my-2">
            <p class="card-text">{{course.description}}</p>
            <a class="btn btn-pink rounded-pill" (click)="getCourse(course._id)">Details <i
                class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="type==='courses'">
      <div class="col-md-3 mb-3" *ngFor="let course of courseData">
        <div class="card" *ngIf="result===true">
          <img src="../../../../assets/cards.jpg" class="card-img-top img-fluid" alt="Image Title">
          <div class="card-body">
            <h5 class="card-title">{{course.coursename}}</h5>
            <hr class="my-2">
            <div class="d-flex fs-6 align-items-center">
              <div class="flex-grow-1">Price</div>
              <div class="fw-bold fs-6">{{course.price}} $</div>
            </div>
            <hr class="my-2">
            <p class="card-text">{{course.description}}</p>
            <a class="btn btn-pink rounded-pill" (click)="getCourse(course._id)">Details <i
                class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- CATALOGS -->
    <div class="row" *ngIf="type==='catalogs'">
      <div class="col-md-3 mb-3" *ngFor="let catalog of catalogData;">
        <div class="card" *ngIf="result===false">
          <img src="../../../../assets/cards.jpg" class="card-img-top img-fluid" alt="Image Title">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h5 class="card-title">{{catalog.catalogname}}</h5>
              </div>
              <div class="fw-normal">4.9 <i class="fas text-warning fa-star"></i></div>
            </div>
            <hr class="my-2">
            <div class="d-flex fs-6 align-items-center">
              <div class="flex-grow-1">Price</div>
              <div class="fw-bold fs-6">{{catalog.price}} $</div>
            </div>
            <hr class="my-2">
            <p class="card-text">{{catalog.description}}</p>
            <a class="btn btn-pink rounded-pill" (click)="getCatalog(catalog._id)"> Details <i
                class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="type==='catalogs'">
      <div class="col-md-3 mb-3" *ngFor="let catalog of catalogData">
        <div class="card" *ngIf="result===true">
          <img src="../../../../assets/cards.jpg" class="card-img-top img-fluid" alt="Image Title">
          <div class="card-body">
            <h5 class="card-title">{{catalog.catalogname}}</h5>
            <hr class="my-2">
            <div class="d-flex fs-6 align-items-center">
              <div class="flex-grow-1">Price</div>
              <div class="fw-bold fs-6">{{catalog.price}} $</div>
            </div>
            <hr class="my-2">
            <p class="card-text">{{catalog.description}}</p>
            <a class="btn btn-pink rounded-pill" (click)="getCatalog(catalog._id)"> Details <i
                class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
