.main {
  height: 100%;
  width: 100%;
  background: white;
  background-position: center;
  background-size: cover;
}

.inf-content {
  border: 1px solid #dddddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: auto;
  position: relative;
  margin: 2% auto;
  background: #fff;
  padding: 6px;
}

@media only screen and (max-width: 425px) {
  .form-signin {
    max-width: 200px;
  }

  .inf-content {
    max-width: 350px;
  }
}
