<section class="create-password">
  <div class="conatiner main text-center text-black">

    <div class="inf-content">

      <h1 class="h2 mb-3 text-primary ">Create Password </h1>

      <form class="form-signin text-black " style="margin: auto;max-width: 300px" #Signin="ngForm" [formGroup]="login"
        (ngSubmit)="onClickSubmit(login.value)">

        <img class="mb-4" src="../../../assets/login.png" alt="logo here " width="150px " height="150px">

        <label for="pass" class="sr-only"> Password</label>
        <input type="password" id="pass" name="pass" class="form-control rounded-pill form-control-md  mb-3 "
          formControlName="password" placeholder="Password" required>
        <div class="form-row">

          <label for="pass" class="sr-only">Confirm Password</label>
          <input type="password" id="cpass" name="cpass" class="form-control rounded-pill form-control-md  mb-3 "
            formControlName="confirmpassword" placeholder="Confirm Password" required>

          <button class="btn button-bg text-white btn-lg d-block rounded-pill w-50 mx-auto mt-5 " type="submit">
            Submit
          </button>
        </div>

      </form>
    </div>
  </div>
</section>
