.searchbar {
  min-width: 300px;
  font-size: 16px;
}

.dropdown-item {
  color: black !important;
}

.far {
  color: #474747;
  font-size: 25px;
  margin: auto;
}

.navbar-toggler-icon {
  color: #575757 !important;
}

.dropdown-toggle::after {
  color: #575757 !important;
}

/* Mobile Device */
@media only screen and (max-width: 600px) {
  .searchbar {
    min-width: 200px !important;
    margin: auto !important;
    font-size: 12px;
  }
  .navbar .nav-item {
    margin: 10px auto;
  }

  .navbar .nav-item a {
    width: 150px;
  }
  .navbar .nav-item a,
  span i {
    font-size: 20px;
  }

  .content-2 {
    padding-left: 70px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .searchbar {
    font-size: 18px;
    margin-right: 20px;
  }
  .navbar .nav-item {
    margin: 10px auto;
    width: 100%;
  }
  .navbar .nav-item a {
    width: 100%;
  }

  .content-2 {
    padding-left: 100px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1180px) {
  .content-2 {
    padding-left: 100px;
  }
}
