<nav class="navbar navbar-expand-lg fixed-top shadow navbar-dark bg-theme-gradient">
  <div class="container">
    <a class="navbar-brand fs-3" href="#">
      <img src="../../../assets/search/protors logo white.png" class="img-fluid" width="130px" height="70px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <input type="text" id="searchName" list="datalist" class="form-control searchbar form-control-sm rounded-pill"
            placeholder="What do you want to search" (keyup)="usersSearched($event)" [(ngModel)]="searchquery">
          <datalist id="datalist">
            <option *ngFor="let user of searchData" [value]="user">
              {{ user }}
            </option>
          </datalist>
        </li>
      </ul>
      <span class="navbar-text p-0">
        <ul class="navbar-nav me-auto m-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/search/teachers">Teachers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/search/enterprises">Enterprises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/search/freelancers">Freelancers</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                aria-expanded="false">
                Resources
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/search/courses">Courses</a></li>
                <li><a class="dropdown-item" routerLink="/search/catalogs">Catalog</a></li>
                <li><a class="dropdown-item" routerLink="/blogs">Blogs</a></li>
              </ul>
            </div>
          </li>

          <span class="navbar-text m-0 p-0" *ngIf="!data">
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item">
                <a class="btn me-3 btn-outline-default border-white rounded-pill" id="sign-in" routerLink="/login">Sign
                  In</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-default bg-white text-dark rounded-pill" id="sign-up"
                  routerLink="/registration">Sign
                  Up</a>
              </li>
            </ul>
          </span>

          <span class="navbar-text m-0 p-0" *ngIf="data">
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                  aria-expanded="false"><i class="fas fa-user-circle"></i> {{data.name}}</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" routerLink="/dashboard/profile">My Profile</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" routerLink="/login">Logout</a></li>
                </ul>
              </li>
            </ul>
          </span>
        </ul>
      </span>
    </div>
  </div>
</nav>
<script>
  $(function () {
    $('#searchName').autocomplete({
      source: function (req, res) {

        $.ajax({
          url: "/autocomplete/", dataType: 'jsonp', type: "GET", data: req, success: function (data) {

          },
          error: function (err) {
            console.log(error.status)
          }
        });
      },
      minLength: 1,
      select: function (e, ui) {
        if (ui.item) {
          $('#searchName').text(ui.item.label)
        }
      }
    })
  })
</script>
