.searchbar {
  min-width: 300px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  padding: 8px;
  padding-left: 20px;
}
.searchbar::placeholder{color: white;}


.navbar .nav-link{color: white;}


.dropdown-menu{
  min-width: 200px;
}


.dropdown-item {
  color: black !important;
  padding: 10px 20px;
}
.dropdown-item:hover{
  background-color: var(--primary);
  color: white !important;
}

.far {
  color: #474747;
  font-size: 25px;
  margin: auto;
}

/* Mobile Device */
@media only screen and (max-width: 600px) {
  .searchbar {
    max-width: 100%;
    font-size: 18px;
    margin-top: 10px;
  }
  .navbar .nav-item a {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
}
