<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Admin</title>

</head>

<body>

    <nav class="topnav">
        <div class="hidden-sm"></div>
        <div class="user-menu">
            <h1 class='text-white text-center'>User Panel</h1>
            <div>
                <!-- Admin Profile -->
                <a routerLink="/admindashboard" class="btn btn-outline-info">
                    <i>account_circle</i>
                </a>
                <a routerLink="/admin" class="btn btn-outline-danger">
                    <i>exit_to_app</i>
                </a>
            </div>
        </div>
    </nav>

    <div class="sidenav hidden-sm hidden-md" id="nav">
        <div class="list">
            <a routerLink="/admin-dashboard">
                <i>home</i>&nbsp;
                Home
            </a>
            <a routerLink="/admin-users" class="active">
                <i>group</i>&nbsp; User
            </a>
            <a routerLink="/admin-certified">
                <i>school</i>&nbsp;Give Certificate
            </a>
            <a routerLink="/admin-courses">
                <i>new_releases</i>&nbsp; Courses
            </a>
            <a routerLink="/admin-payment">
                <i>business_center</i>&nbsp; Payments
            </a>
        </div>
    </div>

    <div class='content'>


        <h1 class='text-center text-primary mt-2 mb-4'>Total Registered Users</h1>

        <div class='painel-bodys'>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th scope='col'>id</th>
                        <th scope='col'>Name</th>
                        <th scope='col'>Email</th>

                        <th scope='col'>Role</th>
                        <th scope='col'>Qualification</th>
                        <th scope='col'>Gender </th>
                        <th scope='col'>Address</th>
                        <th scope='col'>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td scope='row'>
                            <!-- ###### -->

                        </td>
                        <td scope='row'>
                            <!-- ###### -->

                        </td>

                        <td scope='row'>
                            <!-- ###### -->

                        </td>

                        <td scope='row'>
                            <!-- ###### -->

                        </td>
                        <td scope='row'>
                            <!-- ###### -->

                        </td>
                        <td scope='row'>
                            <!-- ###### -->

                        </td>

                        <td scope='row'>
                            <!-- ###### -->
                        </td>

                        <!-- <td scope='row'> <img src="###>" class="img rounded-circle" height="100px"> </td> -->

                        <td scope='row'>

                            <button class="btn btn-danger">Delete</button>

                        </td>

                    </tr>
                </tbody>

            </table>
            <br>

            <h1 class='text-center text-primary mt-2 mb-4'>Current Registered Student</h1>

            <div class='painel-bodys'>

                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th scope='col'>id</th>
                            <th scope='col'>Name</th>
                            <th scope='col'>Email</th>

                            <th scope='col'>Role</th>
                            <th scope='col'>Qualification</th>
                            <th scope='col'>Gender </th>
                            <th scope='col'>Address</th>
                            <th scope='col'>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td scope='row'>
                                <!-- ###### -->

                            </td>
                            <td scope='row'>
                                <!-- ###### -->

                            </td>

                            <td scope='row'>
                                <!-- ###### -->

                            </td>

                            <td scope='row'>
                                <!-- ###### -->

                            </td>
                            <td scope='row'>
                                <!-- ###### -->

                            </td>
                            <td scope='row'>
                                <!-- ###### -->

                            </td>

                            <td scope='row'>
                                <!-- ###### -->
                            </td>

                            <!-- <td scope='row'> <img src="###>" class="img rounded-circle" height="100px"> </td> -->

                            <td scope='row'>

                                <button class="btn btn-danger">Delete</button>

                            </td>

                        </tr>
                    </tbody>

                </table>

            </div>

            <!------ Include the above in your HEAD tag ---------->
        </div>
    </div>
</body>

</html>