.container{
  min-height: 50vh;
}

.input-group .form-control{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.input-group .btn{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}