<app-header></app-header>

<section class="page-content">
  <div class="container h-100">
    <div class="row align-items-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="bg-white shadow my-5 px-3 py-5 rounded">
          <form class="form-signin " #forgotpassword="ngForm" [formGroup]="forgotpasword"
            (ngSubmit)="onClickSubmit(forgotpasword.value)">
            <h3 class="text-primary fw-bold mb-4">Forgot Password</h3>
            <p class="mb-1 text-gray">Please enter the email you register with.</p>
            <p class="mb-3 text-gray">We'll send you an email with the link to reset your password</p>
            <div class="input-group input-group-lg overflow-hidden mb-3">
              <input type="text" id="email" type="email" autocomplete="off" class="form-control bg-light me-3"
                placeholder="Email" formControlName='email'>
              <div class="text-danger ps-3"
                *ngIf="forgotpasword.get('email')?.errors && (forgotpasword.get('email').touched || forgotpasword.get('email').dirty)">
              </div>
              <button class="btn btn-primary px-auto px-md-5" type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
