<section class="sidebar_nav">
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/" class="d-block link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip"
                    data-bs-placement="right">
                    <i class="fas fa-users"></i>
                    <span class="visually-hidden">Protors Logo</span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fas fa-envelope-open"></i>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fas fa-calendar"></i>

                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fas fa-cogs"></i>
                </a>
            </li>
        </ul>
    </nav>

</section>