<section class="main-dashboard">
    <div class="container mb-5">
        <div class="row">
            <div class="col-md">
                <div class="container">
                    <div class="bg-dashboard text-center text-white p-4 rounded-15 shadow">
                        <div class="row">
                            <div class="col">
                                <div class="text-start">
                                    <h1 class="fw-normal">Hi Ali Safdar!</h1>
                                    <p class="mx-auto">We care about the students who are looking
                                        to unlock the new levels of understanding on their knowledge path.
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <img class="rounded-circle" src="../../../../assets//pexels-mikhail-nilov-7582651.jpg"
                                    width="200px" height="200px">
                            </div>
                        </div>
                    </div>
                    <div class="page__content position-relative shadow p-3 w-100">
                        <div class="content-data position-absolute">
                            <full-calendar defaultView="dayGridMonth" [options]="calendarOptions"></full-calendar>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="bg-lecture w-100 p-3">
                    <div class="d-inline">
                        <h3>Lectures</h3>
                        <button color="primary" class="btn btn-outline-primary" style="float: right;">View
                            all</button>
                    </div>
                    <div class="me-2">
                        <p class="fw-light fs-5 text mt-3">Monday November, 2022</p>
                        <div class="card ">
                            <div class="card-body">
                                <p class="card-text">Project Presentaion with @ali_safdar</p>
                                <span>
                                    <h4 style="mt-1.25rem">4:00 - 5:30</h4>
                                </span>
                            </div>
                        </div>
                        <hr class="w-80 mx-auto">
                        <div class="card ">
                            <div class="card-body">
                                <p class="card-text">Project Presentaion with @ali_safdar</p>
                                <span>
                                    <h4 style="mt-1.25rem">4:00 - 5:30</h4>
                                </span>
                            </div>
                        </div>
                        <hr class="w-80 mx-auto">
                        <p class="fw-light fs-5 text mt-3">Monday November, 2022</p>
                        <div class="card ">
                            <div class="card-body">
                                <p class="card-text">Project Presentaion with @ali_safdar</p>
                                <span>
                                    <h4 style="mt-1.25rem">4:00 - 5:30</h4>
                                </span>
                            </div>
                        </div>
                        <hr class="w-80 mx-auto">
                        <div class="card ">
                            <div class="card-body">
                                <p class="card-text">Project Presentaion with @ali_safdar</p>
                                <span>
                                    <h4 style="mt-1.25rem">4:00 - 5:30</h4>
                                </span>
                            </div>
                        </div>
                        <hr class="w-80 mx-auto">
                        <div class="card ">
                            <div class="card-body">
                                <p class="card-text">Project Presentaion with @ali_safdar</p>
                                <span>
                                    <h4 style="mt-1.25rem">4:00 - 5:30</h4>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>