<app-header></app-header>

<section class="blogs mb-3">
  <div class="mask text-white" style="background-color: rgba(18, 40, 54, 0.6)">
    <div class="overlay"></div>
    <div class="container position-relative">
      <div class="row align-items-end h-100">
        <div class="col-md-6">
          <h2 class="fs-1 mb-3 fw-normal">Design your virtual learning schedule/routine</h2>
          <p class="fs-5">In Addition to physical tutoring, you may wish to sign up with us as still to enhancing your
            learnig!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
        <h3 class="fs-1">Featured</h3>
      </div>
      <div class="col-md-12 mb-5">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
          <div class="card slide" ngxSlickItem *ngFor="let slide of slides">
            <img src="{{ slide.img }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="text-pink mb-2 fw-bold text-uppercase">{{slide.blogname}}</p>
              <p class="card-text mb-3 fw-normal fs-6 text-dark">{{slide.description}}</p>
              <p class="fw-bold mb-0 text-dark">{{slide.blogname}}, Country</p>
              <p class="text-dark">{{slide.createdAt}}</p>
              <div class="d-flex mt-4">
                <div class="me-3"><i class="far fa-comment-alt"></i> 12.1K</div>
                <div class="me-3"><i class="far fa-eye"></i> 56K</div>
                <div class="flex-grow-1"><i class="fas fa-external-link-alt"></i> 91K</div>
                <div><i class="fas fa-share"></i></div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="col-md-12">
        <div class="bg-white shadow p-3 rounded-15 mb-5">
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid rounded-15" src="../../assets/full-shot-smiley-muslim-women.jpg">
            </div>
            <div class="col-md-6">
              <p class="fs-5">Pakistan, In Addition to physical tutoring, you may wish to sign up with us as still to
                enhancing your learnig! Pakistan, In Addition to physical tutoring, you may wish to sign up with us as
                still to enhancing your learnig!</p>
              <p class="fs-5">Pakistan, In Addition to physical tutoring, you may wish to sign up with us as still to
                enhancing your learnig!</p>
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="user-info d-flex">
                    <div>
                      <img class="follow_img rounded-circle" width="50px" height="50px" src="../../../assets/login.png">
                    </div>
                    <div class="p-1 px-2">
                      <h5 class="fs-6 fw-bold mb-1">Full Name</h5>
                      <h5 class="fs-6">Position</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-end"><i class="fas fa-share fa-2x"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white shadow p-3 rounded-15 mb-5">
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid rounded-15" src="../../assets/full-shot-smiley-muslim-women.jpg">
            </div>
            <div class="col-md-6">
              <p class="fs-5">Pakistan, In Addition to physical tutoring, you may wish to sign up with us as still to
                enhancing your learnig! Pakistan, In Addition to physical tutoring, you may wish to sign up with us as
                still to enhancing your learnig!</p>
              <p class="fs-5">Pakistan, In Addition to physical tutoring, you may wish to sign up with us as still to
                enhancing your learnig!</p>
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="user-info d-flex">
                    <div>
                      <img class="follow_img rounded-circle" width="50px" height="50px" src="../../../assets/login.png">
                    </div>
                    <div class="p-1 px-2">
                      <h5 class="fs-6 fw-bold mb-1">Full Name</h5>
                      <h5 class="fs-6">Position</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-end"><i class="fas fa-share fa-2x"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
