<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payments History</title>
</head>

<body>

    <nav class="topnav">
        <div class="hidden-sm"></div>
        <div class="user-menu">
            <h1 class='text-white text-center'>Payment Panel</h1>
            <div>
                <!-- Admin Profile -->
                <a routerLink="/admindashboard" class="btn btn-outline-info">
                    <i>account_circle</i>
                </a>
                <a routerLink="/admin" class="btn btn-outline-danger">
                    <i>exit_to_app</i>
                </a>
            </div>
        </div>
    </nav>

    <div class="sidenav hidden-sm hidden-md" id="nav">
        <div class="list">
            <a routerLink="/admin-dashboard">
                <i>home</i>&nbsp;
                Home
            </a>
            <a routerLink="/admin-users">
                <i>group</i>&nbsp; User
            </a>
            <a routerLink="/admin-certified">
                <i>school</i>&nbsp;Give Certificate
            </a>
            <a routerLink="/admin-courses">
                <i>new_releases</i>&nbsp; Courses
            </a>
            <a routerLink="/admin-payment" class="active">
                <i>business_center</i>&nbsp; Payments
            </a>
        </div>
    </div>

    <div class="content">

        <div class='Tables mx-auto' style="margin: 25px auto;">
            <h1 class='text-center text-bold text-danger mb-4'>Pay History</h1>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th scope='col'>id</th>
                        <th scope='col'>User Name </th>
                        <th scope='col'>Course Name </th>
                        <th scope='col'>Teacher Name </th>
                        <th scope='col'>Details</th>
                        <th scope='col'>Price</th>
                        <th scope='col'>Date</th>
                        <th scope='col'>Status</th>
                        <th scope='col'>Discount </th>
                    </tr>
                </thead>
                <tbody>


                <tbody>
                    <tr>

                        <td scope='row'>
                            <!-- ID -->

                        </td>

                        <td scope='row'>
                            <!-- User -->

                        </td>

                        <td scope='row'>
                            <!-- Course -->

                        </td>

                        <td scope='row'>
                            <!-- Teacher -->

                        </td>

                        <td scope='row'>
                            <!-- Detail -->

                        </td>
                        <td scope='row'>
                            <!-- Date -->

                        </td>
                        <td scope='row'>
                            <!-- Discount -->

                        </td>

                        <td scope='row'>
                            <!-- Status -->

                        </td>

                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</body>