.register {
  padding: 100px 0px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: white;
  background-image: url("../../../assets/bg.jpg"); /* fallback */
  background-position: center;
  background-size: cover;
  position: relative;
}

.mask {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(18, 40, 54, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.container {
  position: relative;
  z-index: 200;
}
input,
select,
input:focus,
select:focus {
  background-color: #f5f5f5;
}

.input-group,
.input-group .input-group-text {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  border-radius: 50px;
  overflow: hidden;
}

@media screen and (min-width: 377px) {
  .btn-group {
    display: inline-block;
  }
}

@media screen and (min-width: 360px) {
  .btn-group {
    display: inline-block;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .text-content {
    width: auto !important;
  }

  .text-content h2 {
    font-size: 15px;
  }

  .text-content p {
    font-size: 12px;
  }

  .form-content {
    margin-top: 30px !important;
  }

  .form .btn-group .label-group {
    padding-right: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 920px) {
  .content {
    display: block;
    justify-self: center;
    margin: auto;
  }

  .text-content {
    width: auto !important;
  }

  .form-content {
    margin-top: 30px !important;
  }

  .form-signup {
    width: 250% !important;
  }
}
