<app-header></app-header>

<section class="register">
  <div class="mask"></div>
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-6 text-white mb-4 m-md-0">
        <h2 class="fs-1">Welcome to Protors</h2>
        <p class="m-0 fs-5">Looking to gain knowledge as a student or share knowledge</p>
        <p class="m-0 fs-5">as an instructor/tutor? Signup to Continue!</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="bg-white p-3 p-md-5  rounded-15 shadow">
          <div class="text-start mb-4">
            <h3 class="fs-2 mb-1 text-primary">Sign up</h3>
            <h4 class="fs-3 text-secondary">to join Protors</h4>
          </div>

          <form class="form-signup text-black mx-auto" #Signup="ngForm" [formGroup]="register"
            (ngSubmit)="onClickSubmit(register.value)">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text"><i class="fas fa-user text-gray"></i></span>
                  <input type="name" class="form-control" id='name' formControlName="name" placeholder="Username">
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text"><i class="fas fa-envelope text-gray"></i></span>
                  <input type="email" class="form-control" id='email' formControlName="email" placeholder="Email">
                </div>
              </div>
              <div class="col-md-12 mb-2">
                <label class="form-label d-block text-gray fw-bold">Who i am?</label>
                <div class="btn-group" role="group">
                  <input type="radio" class="btn-check" name="role" formControlName="role" id="teacher" value="Teacher"
                    autocomplete="off" checked>
                  <label class="btn btn-outline-primary" for="teacher"><i class="fas fa-user-tie"></i>
                    Teacher</label>
                  <input type="radio" class="btn-check" name="role" formControlName="role" id="student" value="Student"
                    autocomplete="off">
                  <label class="btn btn-outline-primary" for="student"><i class="fas fa-user-graduate"></i>
                    Student</label>
                  <input type="radio" class="btn-check" name="role" formControlName="role" id="enterprise"
                    value="Enterprise" autocomplete="off">
                  <label class="btn btn-outline-primary" for="enterprise"><i class="fas fa-user"></i>
                    Enterprise</label>
                  <input type="radio" class="btn-check" name="role" formControlName="role" id="freelancer"
                    value="Freelancer" autocomplete="off">
                  <label class="btn btn-outline-primary" for="freelancer"><i class="fas fa-user"></i>
                    Freelancer</label>
                </div>
              </div>
              <div class="col-md-12 mb-4">
                <label class="form-label d-block text-gray fw-bold">Gender</label>
                <div class="btn-group" role="group">
                  <input type="radio" class="btn-check" name="gender" formControlName="gender" id="male" value="Male"
                    autocomplete="off" checked>
                  <label class="btn btn-outline-primary" for="male"><i class="fas fa-male"></i>
                    Male</label>

                  <input type="radio" class="btn-check" name="gender" formControlName="gender" id="female"
                    value="Female" autocomplete="off">
                  <label class="btn btn-outline-primary" for="female"><i class="fas fa-female"></i>
                    Female</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text"><i class="fas fa-key text-gray"></i></span>
                  <input type="password" class="form-control" formControlName="password" placeholder="password">
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text"><i class="fas fa-key text-gray"></i></span>
                  <input type="password" class="form-control" id="confirmpassword" formControlName="confirmpassword"
                    placeholder="Confirm password">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    By pressing <b>Submit</b> i agree to <a class="text-primary text-decoration-none" href="#">Terms &
                      conditions</a>
                  </label>
                </div>
              </div>
            </div>
            <button type="sumbit" id="Submit"
              class="btn btn-primary btn-lg d-block rounded-pill w-100 mb-1">Submit</button>
          </form>
          <p class="my-3 text-center fs-5">Or Singup with</p>
          <div class="row">
            <div class="col-md-6 mb-2">
              <button class="btn btn-outline-primary btn-lg w-100" (click)="googleLogin()"><i
                  class="fab fa-facebook"></i> Facebook</button>
            </div>
            <div class="col-md-6 mb-2">
              <button class="btn btn-outline-danger btn-lg w-100" (click)="facebookLogin()"><i
                  class="fab fa-google"></i> Google</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
