footer h4 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--gray);
}
footer li a {
  display: block;
  text-decoration: none;
  color: var(--gray);
  font-size: 18px;
  font-weight: normal;
  line-height: 35px;
}

.footer-copyrights i.fab {
  font-size: 24px;
  margin-left: 10px;
}

.play-store{
  display: block;
  width: 200px;
  max-width: 100%;
  margin-bottom: 10px;
}

/* Mobile Device */
@media only screen and (max-width: 600px) {
  .footer-copyrights i.fab {
    margin-top: 10px;
  }
  footer {
    padding: 30px 10px !important;
  }
  footer h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  footer li a {
    font-size: 14px;
    line-height: 28px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 750px) {
  footer .col-md {
    width: calc(100% / 3);
  }
}

@media only screen and (min-width: 750px) and (max-width: 900px) {
  footer .col-md {
    width: calc(100% / 2);
  }
}
