@media screen and (min-width: 300px) and (max-width: 820px) {
  h2 {
    font-size: 18px;
  }

  h4 {
    font-size: 12px;
  }

  .settingsTabs {
    display: grid !important;
  }

  .settingsTabs {
    grid-template-rows: auto;
  }
  .savebtn {
    display: block;
    width: 90px !important;
  }

  .input-group span {
    width: 12px !important;
  }
  .input-group span i {
    font-size: 12px !important;
  }
}
