<app-header></app-header>

<section class="profile-banner" style="background-image: url('../../../assets/profile.jpg');">
</section>

<section class="profile-content d-block w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="bg-light p-3">
          <div class="profile-img mb-2">
            <img class="img-fluid" src="../../../assets/login.png" alt="">
            <button class="btn btn-primary"><i class="fas fa-camera"></i></button>
          </div>
          <div class="text-center mb-2">
            <h3 class="mb-0 text-truncate text-uppercase">{{data[0].name}}</h3>
            <p class="mb-0">Specialization <i class="fas fa-star text-warning"></i><span class="fw-light">(4.9)</span>
            </p>
          </div>
          <div class="profile-bio mb-2">
            <div class="d-flex mb-1">
              <div class="flex-grow-1 text-truncate">
                <p class="fw-bold m-0 text-uppercase">Bio</p>
              </div>
            </div>
            <p class="mb-2">{{data[0].bio}}</p>
          </div>
          <div class="profile-education">
            <div class="d-flex mb-1">
              <div class="flex-grow-1 text-truncate">
                <p class="fw-bold m-0 text-uppercase">Education</p>
              </div>
            </div>
            <div class="profile-education-card mb-2">
              <div class="d-flex">
                <div class="flex-grow-1 text-truncate">
                  <p class="mb-0">{{data[0].education}}</p>
                </div>
              </div>
              <p class="mb-0">2020-2022</p>
            </div>
          </div>
          <div class="profile-education">
            <div class="d-flex mb-1">
              <div class="flex-grow-1 text-truncate">
                <p class="fw-bold m-0 text-uppercase">Achievements</p>
              </div>
            </div>
            <div class="profile-education-card mb-2">
              <div class="d-flex">
                <div class="flex-grow-1 text-truncate">
                  <p class="mb-0">Achievement Name</p>
                </div>
              </div>
              <p class="mb-0">2020-2022</p>
            </div>
            <div class="profile-education-card mb-2">
              <div class="d-flex">
                <div class="flex-grow-1 text-truncate">
                  <p class="mb-0">Achievement Name</p>
                </div>
              </div>
              <p class="mb-0">2020-2022</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 py-3">

        <ng-container *ngIf="data[0].role=='Teacher' || data[0].role=='Freelancer' || data[0].role=='Enterprise'">

          <div class="for-teachers">
            <div class="row">
              <div class="col-md-10">
                <h3 class="fs-4">Courses</h3>
              </div>
            </div>
            <div class="course-card border rounded p-2 my-2" *ngFor="let course of course">
              <div class="d-flex align-items-center">
                <div class="course-img"><img class="shadow" src="../../../assets/profiling.png" alt=""></div>
                <div class="px-3 flex-grow-1">
                  <h3 class="fs-6 m-0">{{course.coursename}}</h3>
                  <small class="m-0 text-muted pe-2">Price: {{course.price}} $</small>
                  <small class="m-0 text-muted border-start ps-2">Total Lectures: 10</small>
                </div>
              </div>
            </div>
          </div>

          <div class="for-teachers">
            <div class="row">
              <div class="col-md-10">
                <h3 class="fs-4">Catalogs</h3>
              </div>
            </div>
            <div class="course-card border rounded p-2 my-2" *ngFor="let catalog of catalog">
              <div class="d-flex align-items-center">
                <div class="course-img"><img class="shadow" src="../../../assets/profiling.png" alt=""></div>
                <div class="px-3 flex-grow-1">
                  <h3 class="fs-6 m-0">{{catalog.catalogname}}</h3>
                  <small class="m-0 text-muted pe-2">Price: {{catalog.price}} $</small>
                  <small class="m-0 text-muted border-start ps-2">Total Lectures: 10</small>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
