<section class="profile-banner" style="background-image: url('../../../assets/profile.jpg');">
  <button class="btn btn-primary btn-sm"><i class="fas fa-camera"></i> Change Cover</button>
</section>

<section class="profile-content d-block w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="bg-light p-3">
          <div class="profile-img mb-2">
            <img class="img-fluid" src="../../../assets/login.png" alt="">
            <button class="btn btn-primary"><i class="fas fa-camera"></i></button>
          </div>
          <div class="text-center mb-2">
            <h3 class="mb-0 text-truncate text-uppercase">{{data.name}}</h3>
            <p class="mb-0">Specialization <i class="fas fa-star text-warning"></i><span class="fw-light">(4.9)</span>
            </p>
          </div>
          <div class="profile-bio mb-2">
            <div class="d-flex mb-1">
              <div class="flex-grow-1 text-truncate">
                <p class="fw-bold m-0 text-uppercase">Bio</p>
              </div>
              <div><i class="fas fa-edit text-primary ms-2" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal1" (click)="onEdit(data)"></i></div>
            </div>
            <p class="mb-2">{{data.bio}}</p>
          </div>
          <div class="profile-education">
            <div class="d-flex mb-1">
              <div class="flex-grow-1 text-truncate">
                <p class="fw-bold m-0 text-uppercase">Education</p>
              </div>
              <div><i class="fas fa-plus text-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal2"></i></div>
            </div>
            <div class="profile-education-card mb-2">
              <div class="d-flex">
                <div class="flex-grow-1 text-truncate">
                  <p class="mb-0">{{data.education}}</p>
                </div>
                <div><i class="fas fa-edit text-primary ms-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal2" (click)="onEdit(data)"></i>
                  <i class="fas fa-trash text-danger ms-2" type="button" (click)="educationdelete(data)"></i>
                </div>
              </div>
              <p class="mb-0">2020-2022</p>
            </div>
          </div>
          <div class="profile-education">
            <div class="d-flex mb-1">
              <div class="flex-grow-1 text-truncate">
                <p class="fw-bold m-0 text-uppercase">Achievements</p>
              </div>
              <div><i class="fas fa-plus text-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal2"></i></div>
            </div>
            <div class="profile-education-card mb-2">
              <div class="d-flex">
                <div class="flex-grow-1 text-truncate">
                  <p class="mb-0">Achievement Name</p>
                </div>
                <div><i class="fas fa-edit text-primary ms-2"></i> <i class="fas fa-trash text-danger ms-2"></i></div>
              </div>
              <p class="mb-0">2020-2022</p>
            </div>
            <div class="profile-education-card mb-2">
              <div class="d-flex">
                <div class="flex-grow-1 text-truncate">
                  <p class="mb-0">Achievement Name</p>
                </div>
                <div><i class="fas fa-edit text-primary ms-2"></i> <i class="fas fa-trash text-danger ms-2"></i></div>
              </div>
              <p class="mb-0">2020-2022</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 py-3">

        <ng-container *ngIf="data.role=='Student' || data.role=='Parent'">
          <div class="for-students">
            <h3 class="fs-4">Enrolled (Courses)</h3>
            <div class="course-card border rounded p-2 my-2" *ngFor="let course of enrolledsCourse">
              <div class="row align-items-center">
                <div class="col-md-2"><img class="shadow course-img" src="../../../assets/profiling.png" alt=""></div>
                <div class="col-md-8">
                  <h3 class="fs-5 m-0">{{course.coursename}}</h3>
                  <small class="m-0 d-block text-muted">By Tacher Name</small>
                  <small class="m-0 text-muted pe-2">Joined on: 10 Jan 2020</small>
                  <small class="m-0 text-muted border-start px-2">Lectures Taken: 5</small>
                  <small class="m-0 text-muted border-start px-2">Total Lectures: 15</small>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-sm btn-primary">Details</button>
                </div>
              </div>
            </div>
          </div>

          <div class="for-students">
            <h3 class="fs-4">Enrolled (Catalogs)</h3>
            <div class="course-card border rounded p-2 my-2" *ngFor="let catalog of enrolledsCatalog">
              <div class="row align-items-center">
                <div class="col-md-2"><img class="shadow course-img" src="../../../assets/profiling.png" alt=""></div>
                <div class="col-md-8">
                  <h3 class="fs-5 m-0">{{catalog.catalogname}}</h3>
                  <small class="m-0 d-block text-muted">By Tacher Name</small>
                  <small class="m-0 text-muted pe-2">Joined on: 10 Jan 2020</small>
                  <small class="m-0 text-muted border-start px-2">Lectures Taken: 5</small>
                  <small class="m-0 text-muted border-start px-2">Total Lectures: 15</small>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-sm btn-primary">Details</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="data.role=='Teacher'">

          <div class="for-teachers">
            <div class="row">
              <div class="col-md-10">
                <h3 class="fs-4">Courses (For Teachers Side)</h3>
              </div>
              <div class="col-md-2">
                <button class="btn button-bg text-white btn d-block rounded-pill" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal4">
                  Add Courses
                </button>
              </div>
            </div>
            <div class="course-card border rounded p-2 my-2" *ngFor="let course of enrolledtCourse">
              <div class="d-flex align-items-center">
                <div class="course-img"><img class="shadow" src="../../../assets/profiling.png" alt=""></div>
                <div class="px-3 flex-grow-1">
                  <h3 class="fs-6 m-0">{{course.coursename}}</h3>
                  <small class="m-0 text-muted pe-2">Price: {{course.price}} $</small>
                  <small class="m-0 text-muted border-start ps-2">Total Lectures: 10</small>
                </div>
                <div>
                  <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal41" (click)="onEdit(course)">Edit Course</button>
                  <button class="btn btn-sm btn-primary ms-2" (click)="onDeleteCourse(course._id)">Delete
                    Course</button>
                </div>
              </div>
            </div>
          </div>

          <div class="for-teachers">
            <div class="row">
              <div class="col-md-10">
                <h3 class="fs-4">Catalogs (For Teachers Side)</h3>
              </div>
              <div class="col-md-2">
                <button class="btn button-bg text-white btn d-block rounded-pill" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModal5">
                  Add Catalogs
                </button>
              </div>
            </div>
            <div class="course-card border rounded p-2 my-2" *ngFor="let catalog of enrolledtCatalog">
              <div class="d-flex align-items-center">
                <div class="course-img"><img class="shadow" src="../../../assets/profiling.png" alt=""></div>
                <div class="px-3 flex-grow-1">
                  <h3 class="fs-6 m-0">{{catalog.catalogname}}</h3>
                  <small class="m-0 text-muted pe-2">Price: {{catalog.price}} $</small>
                  <small class="m-0 text-muted border-start ps-2">Total Lectures: 10</small>
                </div>
                <div>
                  <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal51" (click)="onEdit(catalog)">Edit Catalog</button>
                  <button class="btn btn-sm btn-primary ms-2" (click)="onDeleteCatalog(catalog._id)">Delete
                    Catalog</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</section>

<!-- Bio Modal -->
<div class="conatiner">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Bio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="bioData" (ngSubmit)="bioUpdate(data)">

            <label for="exampleInputDescription" class="form-label">Bio</label>
            <input id="bio" type="text" formControlName="bio">

          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="bioUpdate(data)" data-bs-dismiss="modal">Save
            changes</button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Education Modal -->
<div class="conatiner">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Education</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="educationData" (ngSubmit)="educationUpdate(this.data)">

            <label for="exampleInputDescription" class="form-label">Education</label>
            <br>
            <input id="education" type="text" formControlName="education">
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="educationUpdate(this.data)"
            data-bs-dismiss="modal">Save
            changes</button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Achievements Modal -->
<div class="conatiner">
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Achievements</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #f="ngForm" [formGroup]="formValue">
            <div class="mb-3">
              <label for="exampleInputPrice" class="form-label">Image</label>
              <input formControlName="file" name="file" id="file" type="file" class="form-control"
                (change)="onFileChange($event)" #Image accept="image/*">
            </div>
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Name</label>
              <input type="text" formControlName="name" class="form-control" id="name">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Description</label>
              <input type="text" formControlName="description" class="form-control" id="description">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="onSave()">Save changes</button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!-- Add Course Modal -->
<div class="conatiner">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Courses</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #f="ngForm" [formGroup]="courseValue">
            <div class="mb-3">
              <label for="exampleInputPrice" class="form-label">Image</label>
              <input formControlName="Image" name="Image" id="Image" type="file" class="form-control"
                (change)="onFileChange($event)" #Image accept="image/*">
            </div>
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Name</label>
              <input type="text" formControlName="coursename" class="form-control" id="coursename">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Country</label>
              <input type="text" formControlName="country" class="form-control" id="country">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Price</label>
              <input type="number" formControlName="price" class="form-control" id="price">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Description</label>
              <input type="text" formControlName="description" class="form-control" id="description">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="addCourse(this.data)" data-bs-dismiss="modal">Save changes</button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Course Modal -->
<div class="conatiner">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal41" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Courses</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #f="ngForm" [formGroup]="courseValue">
            <div class="mb-3">
              <label for="exampleInputImage" class="form-label">Image</label>
              <input formControlName="Image" name="Image" id="Image" type="file" class="form-control"
                (change)="onFileChange($event)" #Image accept="image/*">
            </div>
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Name</label>
              <input type="text" formControlName="coursename" class="form-control" id="coursename">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Country</label>
              <input type="text" formControlName="country" class="form-control" id="country">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Price</label>
              <input type="number" formControlName="price" class="form-control" id="price">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Description</label>
              <input type="text" formControlName="description" class="form-control" id="description">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="onCourseEdit(data)" data-bs-dismiss="modal">Save changes</button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Catalog Modal -->
<div class="conatiner">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Catalogs</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #f="ngForm" [formGroup]="catalogValue">
            <div class="mb-3">
              <label for="exampleInputPrice" class="form-label">Image</label>
              <input formControlName="Image" name="Image" id="Image" type="file" class="form-control"
                (change)="onFileChange($event)" #Image accept="image/*">
            </div>
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Name</label>
              <input type="text" formControlName="catalogname" class="form-control" id="catalogname">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Country</label>
              <input type="text" formControlName="country" class="form-control" id="country">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Price</label>
              <input type="number" formControlName="price" class="form-control" id="price">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Description</label>
              <input type="text" formControlName="description" class="form-control" id="description">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="addCatalog(this.data)" data-bs-dismiss="modal">Save changes</button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Catalog Modal -->
<div class="conatiner">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal51" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Catalog</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #f="ngForm" [formGroup]="catalogValue">
            <div class="mb-3">
              <label for="exampleInputImage" class="form-label">Image</label>
              <input formControlName="Image" name="Image" id="Image" type="file" class="form-control"
                (change)="onFileChange($event)" #Image accept="image/*">
            </div>
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Name</label>
              <input type="text" formControlName="catalogname" class="form-control" id="coursename">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Country</label>
              <input type="text" formControlName="country" class="form-control" id="country">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Price</label>
              <input type="number" formControlName="price" class="form-control" id="price">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Description</label>
              <input type="text" formControlName="description" class="form-control" id="description">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="onCatalogEdit(data)" data-bs-dismiss="modal">Save changes</button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
