.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 90px;
  background-color: var(--primary);
  overflow-y: auto;
}
.sidebar li {
  margin-bottom: 40px;
}
.sidebar li a {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: 32px;
  border-left: 3px solid transparent;
}
.sidebar li a.active {
  border-color: white;
}

.sidebar-logo {
  margin-top: 12px !important;
  padding-left: 6px;
  width: 45px !important;
  height: 50px !important;
}

.navbar {
  z-index: 1500;
  margin-left: 90px;
}

.dashboard-content {
  padding-left: 90px;
}
.dashboard-content .dashboard-page {
  padding-top: 50px;
}

.search-control {
  min-width: 400px;
  margin: 0px 0px;
}
@media only screen and (min-width: 300px) and (max-width: 920px) {
  .sidebar {
    height: 120vh;
  }
}
@media only screen and (max-width: 786px) {
  .search-control {
    min-width: 100%;
    margin: 20px 0px;
  }
}
