/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #0183c2;
  --primary-hover: #026ea3;
  --secondary: #01e4c5;
  --light: #f3f3f3;
  --gray: #6e6f6f;
  --pink: #b10359;
  --pink-hover: #880346;

  --shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;

  --heading-primary: #086fb3;

  --total-counter: #eee;
  --testamonials: #0470b1;

  --button-color: #0470b1;

  --dashboard-bg-color: #0470b1;
  --dashboard-bg-lecture: #f8f8f8;
  --dashboard-profile: #0e73b4;

  --profile-image-sec: #f9f9f9;
  --profile-button: #0470b1;
}


.text-primary{color: var(--primary) !important;}
.text-pink{color: var(--pink) !important;}
.bg-primary{background-color: var(--primary) !important;}
.bg-success{background-color: var(--secondary) !important;}
.bg-pink{background-color: var(--pink) !important;}
.border-primary{border-color: var(--primary) !important;}

.heading-primary {
  color: var(--heading-primary);
}
.text-gray {
  color: var(--gray);
}
.bg-theme-gradient {
  background: var(--primary);
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--primary) 24%,
    var(--secondary) 100%
  );
}
.btn-pink {
  background-color: var(--pink);
  border-color: var(--pink);
  color: white !important;
}
.btn-pink:hover {
  background-color: var(--pink-hover);
  border-color: var(--pink-hover);
}
.btn-primary{
  background-color: var(--primary);
  border-color: var(--primary);
  color: white !important;
  box-shadow: none !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
  border-color: var(--primary-hover);
  background-color: var(--primary-hover);
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
  box-shadow: none !important;
}
.btn-check:active+.btn-outline-primary, 
.btn-check:checked+.btn-outline-primary, 
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show, 
.btn-outline-primary:hover,
.btn-outline-primary:active{
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}



.btn{
  box-shadow: none !important;
  transition: all 0.3s ease-in-out;
}
/*a.btn i,
button.btn i{margin-left: 10px;transition: all 0.5s ease-in-out;}*/
a.btn:hover,
button.btn:hover{
  box-shadow: var(--shadow) !important;
}/*
button.btn:hover i,
a.btn:hover i{
  display: inline-block !important;
  margin-left: 30px;
}*/



.total-counter {
  background-color: var(--total-counter);
}
.heading_testamonials {
  color: var(--testamonials);
}

.button-bg {
  background-color: var(--button-color);
}

.bg-dashboard {
  background-color: var(--dashboard-bg-color);
}

.bg-lecture {
  background-color: var(--dashboard-bg-lecture);
}

.dashboard-profile {
  color: var(--dashboard-profile);
}

.profile-details {
  background-color: var(--profile-image-sec);
}

.checked {
  color: orange;
}

.profile-button {
  background-color: var(--profile-button);
}

.rounded-10 {
  border-radius: 10px;
}
.rounded-15 {
  border-radius: 15px;
}
.rounded-20 {
  border-radius: 20px;
}

.rounded-30 {
  border-radius: 30;
}

.page-content{
  padding-top: 50px;
}

.form-control,
.form-control:focus{
  border-color: #f5f5f5;
  box-shadow: none !important;
}
.form-control.ng-invalid.ng-touched {
  border-color: tomato !important;
}
.shadow{
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
}

.slick-prev:before, .slick-next:before{
  color: var(--gray) !important;
  font-size: 36px;
}
.slick-arrow{z-index: 1000;}
@media only screen and (max-width: 600px) {
  .slick-prev{left: 15px;}
  .slick-next{right: 30px;}
}


.overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.full-calendar a{
  text-decoration: none !important;
  color: var(--primary);
}
.full-calendar button{
  background-color: var(--primary) !important;
  box-shadow: none !important;
  border-color: var(--primary-hover) !important;
}
.full-calendar .fc-daygrid .fc-col-header-cell-cushion{
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  color: white;
  padding: 8px 5px !important;
  border-radius: 100%;
  margin: 5px;
  font-size: 14px !important;
}

.fc-daygrid-event{
  background-color: var(--primary);
  color: white;
}
.fc-daygrid-event:hover{
  background-color: var(--primary-hover) !important;
  color: white;
}
.fc-daygrid-event *{color: white;}