<app-header></app-header>

<section class="about_us">

    <div class="mask text-white" style="background-color: rgba(18, 40, 54, 0.6)">
        <div class="container">
            <div class="row align-items-end h-100">
                <div class="col-md-12">
                    <h1 class="fs-1 fw-bold">About Us</h1>
                    <p class="fs-5">Plateform that connect freelancer to client & students</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_us-content py-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="about-img position-relative">
                    <div class="about-img-overlay bg-success"></div>
                    <img class="img-fluid" src="../../../../assets/UIUX.jpg" alt="Responsive">
                </div>
            </div>
            <div class="col-md-6 py-3">
                <h2 class="fs-1">Who we are</h2>
                <p class="fs-5 text-justify">
                    We offer you a comprehensive design for your website
                    with impressive layouts. Unlike many other website development 
                    companies, we don’t use themes, but we create a website from
                    scratch to ensure uniqueness of design aesthetics. By following the client’s
                    requirements and ongoing market trends, we give you a user-friendly solution
                    which
                    depicts your own brand.
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 py-3 text-start text-md-end order-2 order-md-1">
                <h2 class="fs-1">Who we are</h2>
                <p class="fs-5 text-justify">
                    We offer you a comprehensive design for your website
                    with impressive layouts. Unlike many other website development 
                    companies, we don’t use themes, but we create a website from
                    scratch to ensure uniqueness of design aesthetics. By following the client’s
                    requirements and ongoing market trends, we give you a user-friendly solution
                    which
                    depicts your own brand.
                </p>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <div class="about-img position-relative">
                    <div class="about-img-overlay bg-primary"></div>
                    <img class="img-fluid" src="../../../../assets/about.jpg" alt="Responsive">
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>