.mask {
  min-height: 50vh;
  width: auto;
  background-image: url('../../../assets/about.jpg');
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size:cover;
  position: relative;
  background-color: rgba(17, 46, 65, 0.6);
}
.mask .container .row,
.mask .container{min-height: 50vh;}


.about-img{
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.about-img-overlay{
  position: absolute;
  top: 0%;
  left: 0%;
  width: calc(100% - 45px);
  height: calc(100% - 25px);
}
.about-img img{
  position: relative;
  top: 25px;
  left: 45px;
  width: calc(100% - 45px);
  height: calc(100% - 25px);
}

@media (max-width: 600px) {
  .mask,
  .mask .container .row,
  .mask .container{min-height: 60vh;}
  .about-img{
    margin: auto;
    width:80%;
    max-height: 300px;
  }
}
