<section class="user-profile">
    <div class="container-fluid p-0 mx-auto">
        <div class="mask">
            <div class="d-flex position-relative h-100">
                <section class="heading position-absolute text-white d-inline">
                    <button class="btn profile-button text-white btn-md d-block w-30">
                        <img src="../../../assets/cameras.png" alt="cover image" class="img-fluid d-inline">Change
                        Cover</button>
                </section>
            </div>
        </div>
    </div>
</section>
<section class="profile-img">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <section class="profile-details justify-content-center align-items-center position-relative">
                    <div class="profile_image position-absolute ">
                        <img class=" rounded-circle d-block mx-auto" src="../../../assets/feed.jpg" alt="profile-img"
                            width="130rem" height="130rem">
                    </div>


                    <div class="content d-block w-100 p-5 mx-auto">
                        <div class="info-profile ms-4 mt-5 mb-2" style="color: #909090;">
                            <h1 class="fs-3 fw-bold text-content-center mt-4 ms-4" style="color: #575757;">Sumaya
                                Valand
                            </h1>
                            <span class="lead me-3">Phd Mathametics</span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <button class="btn profile-button text-white d-block w-20 mx-auto">Follow</button>
                    </div>


                    <section class="achieved_info">
                        <div class="container">
                            <div class="row text-content-center">
                                <div class="col-4 col-md-4 col-lg-4">
                                    <h1>630 </h1>
                                    <p>Students</p>
                                </div>
                                <div class="col-4 col-md-4 col-lg-4">
                                    <h1>150</h1>
                                    <p>Courses</p>
                                </div>
                                <div class="col-2 col-md-4 col-lg-2">
                                    <h1>5.0</h1>
                                    <p>Performance</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr class="mx-auto w-80">
                    <div class="text-start p-3" style="color: #909090;">
                        <h4>Bio</h4>
                        <p>
                            Use align-self utilities on flexbox items to individually change their alignment on the
                            cross axis (the y-axis to start,
                            x-axis if flex-direction: column). Choose from the same options as align-items: start,
                            end,
                            center, baseline, or stretch
                            (browser default).
                        </p>
                        <p>
                            Use align-self utilities on flexbox items to individually change their alignment on the
                            cross axis (the y-axis to start,
                            x-axis if flex-direction: column). Choose from the same options as align-items: start,
                            end,
                            center, baseline, or stretch
                            (browser default).
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="border border-2 mb-3">
                    <div class="align-content-center p-3">
                        <table class="table mb-0 mt-0">
                            <tbody>
                                <tr>
                                    <th scope="row" rowspan="2"><img class="col-md rounded-circle ms-0"
                                            src="../../../assets/feed.jpg" alt="profile-img" width="60rem"
                                            height="60rem">
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="col-md-8" style="color:#575757;"><span class="fw-bold fs-5">Sumaya
                                            Valan</span>&nbsp;<span class="fw-light">
                                            2 Days
                                        </span></td>
                                    <td><span class="fw-light">January 10</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="card mb-3 rounded-15">
                            <div class="card-images position-relative">
                                <img class="img-fluid card-img" alt="card" src="../../../../assets/cards.jpg">
                            </div>
                            <div class="card-content p-3">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="details d-inline">
                                            <h4>Software Development</h4>
                                            <p style="color: #909090;">Use align-self utilities on flexbox items to
                                                individually change their
                                                alignment
                                                on the
                                                cross
                                                axis (the y-axis to start,
                                                x-axis if flex-direction: column). Choose from the same options as
                                                align-items:
                                                start,
                                                end,
                                                center, baseline, or stretch
                                                (browser default).</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-end">
                                        <button class="btn profile-button text-white p-2">Join Course<i
                                                class="fas ms-3 fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-2 ms-2">
                            <a href="#"><i class="far fa-comment-alt"><span class="fw-light"> &nbsp;
                                        12k</span></i></a>
                            <a href="#" class="ms-3"><i class="fas fa-eye"><span class="fw-light">&nbsp;
                                        50k</span></i></a>
                            <a href="#" class="flex-grow-1 ms-3"><i class="fas fa-share-square"><span
                                        class="fw-light">&nbsp;
                                        95k</span></i>
                            </a>
                            <a href="#" class="me-1"><i class="fas fa-ellipsis-h"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 bg-lecture">
                <div class="container p-3">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="h5" style="color: #575757;">Highlight</span>
                            </div>
                            <div class="col-6 text-end">
                                <a class="text-decoration-none ms-5">More</a>
                            </div>
                        </div>
                        <div class="align-content-center mt-3">
                            <img src="../../../assets/profile highlight.jpg" class="img-fluid">

                            <div class="text-content mt-3">
                                <h4 style="color: #0470b1;">Research and Development</h4>
                                <p style="color: #909090;">Use align-self utilities on flexbox items to individually
                                    change their alignment on
                                    the cross axis (the y-axis to start,
                                    x-axis if flex-direction: column). Choose from the same options as align-items:
                                    start, end, center, baseline, or stretch
                                    (browser default).</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <span class="h5" style="color: #575757;">Follow</span>
                        </div>
                        <div class="col-6 text-end">
                            <a class="text-decoration-none ms-5">More</a>
                        </div>
                    </div>
                    <div class="mt-3  d-block d-inline follow-tag">
                        <div class="row">
                            <div class="col-3">
                                <img class="follow_img rounded-circle" width="50px" height="50px"
                                    src="../../../assets/login.png">
                            </div>
                            <div class="col-6">
                                <p class="fw-bold">Jamal Fahad
                                    <br><span class="fw-light">Senior Architect</span>
                                </p>
                            </div>
                            <div class="col-2">
                                <i class="fas fa-plus pt-3"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>