<section class="login">
    <div class="container-fluid main">
        <div class="mask">
            <div class="container login-content py-5">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <section class="heading text-white position-relative">
                            <h2>Welcome Admin</h2>
                        </section>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="text-center text-black bg-white p-4 rounded-15 shadow">
                            <div class="login_details mx-auto">

                                <div class="text-start mb-4">
                                    <img src="../../../assets/admin-logo.png" class="img-fluid mx-auto rounded-circle"
                                        width="200px" height="200px">
                                </div>
                                <form class="form-signin text-black " style="margin: auto;"
                                    (ngSubmit)="onClickSubmit(login.value)">
                                    <label for="inputEmail" class="sr-only">Email address</label>
                                    <input type="text" id="email" type="email" autocomplete="off" placeholder="Email"
                                        class="form-control rounded-pill fs-5  mb-3" placeholder="Email"
                                        formControlName='email'>
                                    <div class="text-danger"
                                        *ngIf="login.get('email')?.errors && (login.get('email').touched || login.get('email').dirty)">
                                        <span *ngIf="login.get('email').hasError('email')">Invalid Email
                                            Address</span>
                                        <span *ngIf="login.get('email').hasError('required')">Email is
                                            required</span>
                                    </div>

                                    <label for="password" class="sr-only"> Password</label>
                                    <input type="password" autocomplete="off" placeholder="Password"
                                        class="form-control rounded-pill fs-5  mb-3" id='password'
                                        formControlName='password' />

                                    <!-- <section class="example-section">
                                                                                        <mat-radio-group>
                                                                                                                <mat-radio-button class="example-margin check-box" type="checkbox"
                                                                                                                    value="check">Remember me</mat-radio-button>
                                                                                                            </mat-radio-group>
                                                                                    </section> -->

                                    <span routerLink="/forgot-password" type="button" class="fpassword">Forgot
                                        Password?</span>

                                    <button class="btn button-bg text-white btn-lg d-block rounded-pill w-100 mt-5"
                                        type="submit" routerLink="/admin-dashboard">
                                        Login <i class="fas fa-arrow-right"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>